In [ ]:
import pandas as pd

In [2]:
movies=pd.read_csv("TMDB_Movies.csv")

In [3]:
movies.head(10)

,Unnamed: 0,id,title,overview,release_date,popularity,vote_average,vote_count
0,0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,127.351,8.7,18285
1,1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,91.282,8.7,24196
2,2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,67.617,8.6,11033
3,3,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20,34.208,8.6,4183
4,4,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,56.547,8.6,14301
5,5,129,Spirited Away,"A young girl, Chihiro, becomes trapped in a st...",2001-07-20,80.413,0.5,184581
6,6,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,44.907,8.5,7444
7,7,372058,Your Name.,High schoolers Mitsuha and Taki are complete s...,2016-08-26,87.079,8.5,10057
8,8,496243,Parasite,"All unemployed, Ki-taek's family takes peculia...",2019-05-30,74.149,8.5,16046
9,9,155,The Dark Knight,Batman raises the stakes in his war on crime. ...,2008-07-14,107.271,8.5,30109

In [4]:
movies.describe()

        Unnamed: 0            id    popularity  vote_average     vote_count
count  10000.00000  1.000000e+04  10000.000000  10000.000000   10000.000000
mean    4999.50000  1.834488e+05     26.633116      6.764590    1681.143700
std     2886.89568  2.397736e+05    120.341996      0.645381    3403.290173
min        0.00000  2.000000e+00      0.600000      0.500000     199.000000
25%     2499.75000  1.033975e+04     10.683750      6.200000     322.000000
50%     4999.50000  3.505400e+04     15.126500      6.700000     612.500000
75%     7499.25000  3.459118e+05     23.358000      7.200000    1577.000000
max     9999.00000  1.102776e+06   6058.224000      8.700000  184581.000000

In [5]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    10000 non-null  int64
 1   id            10000 non-null  int64
 2   title         10000 non-null  object
 3   overview      9998 non-null   object
 4   release_date  10000 non-null  object
 5   popularity    10000 non-null  float64
 6   vote_average  10000 non-null  float64
 7   vote_count    10000 non-null  int64
dtypes: float64(2), int64(3), object(3)
memory usage: 625.1+ KB

In [6]:
movies.isnull().sum()

Unnamed: 0      0
id              0
title           0
overview        2
release_date    0
popularity      0
vote_average    0
vote_count      0
dtype: int64

Feature Selection part

In [7]:
movies.columns

Index(['Unnamed: 0', 'id', 'title', 'overview', 'release_date', 'popularity',
       'vote_average', 'vote_count'],
      dtype='object')

In [8]:
movies=movies[['id', 'title', 'overview','popularity']]

In [9]:
movies

,id,title,overview,popularity
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",127.351
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,91.282
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,67.617
3,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",34.208
4,424,Schindler's List,The true story of how businessman Oskar Schind...,56.547
...,...,...,...,...
9995,174321,The English Teacher,Teacher Linda Sinclair balances her staid home...,14.959
9996,23410,The Thaw,"At a remote Arctic research station, four ecol...",9.704
9997,15671,Picture This,Bookish and unpopular Mandy finds her luck fin...,8.370
9998,9622,Beverly Hills Ninja,"Haru, an orphaned American who washes ashore i...",14.355
9999,146238,Runner Runner,When a poor college student who cracks an onli...,13.658

In [10]:
movies['tags']=movies['overview']+movies['title']

In [11]:
movies

,id,title,overview,popularity,tags
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",127.351,"Spanning the years 1945 to 1955, a chronicle o..."
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,91.282,Framed in the 1940s for the double murder of h...
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,67.617,In the continuing saga of the Corleone crime f...
3,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",34.208,"Raj is a rich, carefree, happy-go-lucky second..."
4,424,Schindler's List,The true story of how businessman Oskar Schind...,56.547,The true story of how businessman Oskar Schind...
...,...,...,...,...,...
9995,174321,The English Teacher,Teacher Linda Sinclair balances her staid home...,14.959,Teacher Linda Sinclair balances her staid home...
9996,23410,The Thaw,"At a remote Arctic research station, four ecol...",9.704,"At a remote Arctic research station, four ecol..."
9997,15671,Picture This,Bookish and unpopular Mandy finds her luck fin...,8.370,Bookish and unpopular Mandy finds her luck fin...
9998,9622,Beverly Hills Ninja,"Haru, an orphaned American who washes ashore i...",14.355,"Haru, an orphaned American who washes ashore i..."
9999,146238,Runner Runner,When a poor college student who cracks an onli...,13.658,When a poor college student who cracks an onli...

In [12]:
new_data = movies.drop(columns= ['overview'])

In [13]:
new_data

,id,title,popularity,tags
0,238,The Godfather,127.351,"Spanning the years 1945 to 1955, a chronicle o..."
1,278,The Shawshank Redemption,91.282,Framed in the 1940s for the double murder of h...
2,240,The Godfather Part II,67.617,In the continuing saga of the Corleone crime f...
3,19404,Dilwale Dulhania Le Jayenge,34.208,"Raj is a rich, carefree, happy-go-lucky second..."
4,424,Schindler's List,56.547,The true story of how businessman Oskar Schind...
...,...,...,...,...
9995,174321,The English Teacher,14.959,Teacher Linda Sinclair balances her staid home...
9996,23410,The Thaw,9.704,"At a remote Arctic research station, four ecol..."
9997,15671,Picture This,8.370,Bookish and unpopular Mandy finds her luck fin...
9998,9622,Beverly Hills Ninja,14.355,"Haru, an orphaned American who washes ashore i..."
9999,146238,Runner Runner,13.658,When a poor college student who cracks an onli...

1. Bag of words
2. TFIDF

In [14]:
from sklearn.feature_extraction.text import CountVectorizer

In [15]:
cv=CountVectorizer(max_features=10000, stop_words='english')

In [16]:
cv

CountVectorizer(max_features=10000, stop_words='english')

In [17]:
vector=cv.fit_transform(new_data['tags'].values.astype('U')).toarray()

In [18]:
vector.shape

(10000, 10000)

In [19]:
from sklearn.metrics.pairwise import cosine_similarity

In [20]:
similarity = cosine_similarity(vector)

In [21]:
similarity

array([[1.        , 0.02819419, 0.40686674, ..., 0.        , 0.02302046,
        0.        ],
       [0.02819419, 1.        , 0.03031695, ..., 0.        , 0.        ,
        0.        ],
       [0.40686674, 0.03031695, 1.        , ..., 0.        , 0.02475369,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.02437575,
        0.        ],
       [0.02302046, 0.        , 0.02475369, ..., 0.02437575, 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [22]:
new_data[new_data['title']=="The Godfather"].index[0]

0

In [23]:
new_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          10000 non-null  int64
 1   title       10000 non-null  object
 2   popularity  10000 non-null  float64
 3   tags        9998 non-null   object
dtypes: float64(1), int64(1), object(2)
memory usage: 312.6+ KB

In [24]:
distance=sorted(list(enumerate(similarity[2])), reverse=True,key=lambda vector:vector[1])
for i in distance[0:5]:
    print(new_data.iloc[i[0]].title)

The Godfather Part II
The Godfather
The Godfather Part III
Kind Hearts and Coronets
The Meyerowitz Stories (New and Selected)

In [25]:
def recommand(movies):
    index=new_data[new_data['title']==movies].index[0]
    distance=sorted(list(enumerate(similarity[index])), reverse=True,key=lambda vector:vector[1])
    for i in distance[0:5]:
        print(new_data.iloc[i[0]].title)

In [26]:
recommand("Iron Man")

Iron Man
Iron Man 2
Iron Man 3
The Invincible Iron Man
The Disappearance of Alice Creed

In [27]:
import pickle

In [28]:
pickle.dump(new_data, open('movies_list.pk1' , 'wb'))

In [29]:
pickle.dump(similarity, open('similarity.pk1' , 'wb'))

In [30]:
pickle.load(open('movies_list.pk1' , 'rb'))

,id,title,popularity,tags
0,238,The Godfather,127.351,"Spanning the years 1945 to 1955, a chronicle o..."
1,278,The Shawshank Redemption,91.282,Framed in the 1940s for the double murder of h...
2,240,The Godfather Part II,67.617,In the continuing saga of the Corleone crime f...
3,19404,Dilwale Dulhania Le Jayenge,34.208,"Raj is a rich, carefree, happy-go-lucky second..."
4,424,Schindler's List,56.547,The true story of how businessman Oskar Schind...
...,...,...,...,...
9995,174321,The English Teacher,14.959,Teacher Linda Sinclair balances her staid home...
9996,23410,The Thaw,9.704,"At a remote Arctic research station, four ecol..."
9997,15671,Picture This,8.370,Bookish and unpopular Mandy finds her luck fin...
9998,9622,Beverly Hills Ninja,14.355,"Haru, an orphaned American who washes ashore i..."
9999,146238,Runner Runner,13.658,When a poor college student who cracks an onli...